In [102]:
pip install request

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement request (from versions: none)
ERROR: No matching distribution found for request

In [2]:
#Importamos las librerias:
import pandas as pd
import numpy as np

Revision de las 16 tablas generales para escoger las que seran usadas en este analisis.

1.Penetración del servicio de Internet fijo (métrica: hogares)
2.Penetración del servicio de Internet fijo (métrica: población)
3.Número total de accesos al servicio de Internet fijo por banda ancha y banda angosta (trimestral)
4.Número de accesos al servicio de Internet fijo por banda ancha y banda angosta en cada provincia (trimestral)
5.Serie histórica de la velocidad media de descarga de Internet por provincia (trimestral)
6.Número de accesos al servicio de Internet fijo por tipo de tecnología en cada provincia (trimestral)
7.Número de accesos al servicio de Internet fijo por velocidad de bajada en cada provincia (trimestral)
8.Número de accesos al servicio de Internet fijo por velocidad de bajada en cada localidad declarada
9.Número de accesos al servicio de Internet fijo por velocidad de bajada en cada provincia
10.distribucion de los accesos totales nacionales a internet por velocidad (Serie histórica de la velocidad media de descarga de Internet nacional (trimestral))
11.Número total de accesos al servicio de Internet fijo por velocidad de bajada (trimestral)
12.Ingresos trimestrales de los operadores por el servicio de Internet fijo
13.Consulta las tecnologías disponibles en tu localidad para acceder al servicio de Internet fijo y móvil
14.Número total de accesos al servicio de Internet fijo por tipo de tecnología (trimestral)
15.Listado de localidades con conectividad a internet, con detalle por tipo de conexión
Otros...

16.-Número de accesos al servicio de Internet fijo por tecnología en cada localidad declarada Categoría
17.-Inflación, divisas y producto interno bruto
18.Series trimestrales de la penetración del Internet fijo en las métricas por cada 100 habitantes y por cada 100 hogares

Se hará el estudio de los KPI a nivel de provincia
1 KPI- Evaluar el aumento o disminución de la variación porcentual trimestral del servicio de internet, cada 100 hogares por provincia. 
2.KPI- Evaluar

In [125]:
Operador = pd.read_csv('https://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/NUMER-GEOGR/data.csv/?auth_key=uU4rih5wiPcOfWo75wLr5DZ5Jsx2kdNTbGbC1nIc')

In [126]:
Operador

,OPERADOR,SERVICIO,INDICATIVO,Unnamed: 3,MODALIDAD,LOCALIDAD
0,NaN,STM,2983.0,450.0,NaN,TRES ARROYOS
1,NaN,NaN,2963.0,43.0,NaN,NaN
2,TELEFONICA DE ARGENTINA SOCIEDAD ANONIMA,SBT,NaN,NaN,BASICA,CANDELARIA (PROV. SAN LUIS)
3,TELECOM ARGENTINA SOCIEDAD ANONIMA,SRCE,NaN,NaN,MPP,MAR DEL PLATA
4,TELECOM ARGENTINA SOCIEDAD ANONIMA,NaN,3472.0,459.0,MPP,NaN
...,...,...,...,...,...,...
9992,COMPAÑIA DE RADIOCOMUNICACIONES MOVILES SOCIED...,NaN,220.0,402.0,BASICA,NaN
9993,COMPAÑIA DE RADIOCOMUNICACIONES MOVILES SOCIED...,NaN,2320.0,60.0,BASICA,NaN
9994,COMPAÑIA DE RADIOCOMUNICACIONES MOVILES SOCIED...,SBT,NaN,402.0,BASICA,MORENO
9995,COMPAÑIA DE RADIOCOMUNICACIONES MOVILES SOCIED...,PCS,NaN,NaN,CPP,MORENO
9996,NaN,SRCE,11.0,5228.0,NaN,AMBA

In [127]:
Operador['OPERADOR'] = Operador['OPERADOR'].str.strip()

In [128]:
Operador['INDICATIVO']=Operador['INDICATIVO'].fillna(0)
Operador['Unnamed: 3']=Operador['Unnamed: 3'].fillna(0)
Operador.rename(columns={'Unnamed: 3': 'nodefinido'}, inplace=True)
Operador=Operador.fillna('No dato')

In [129]:
Operador.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9997 entries, 0 to 9996
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OPERADOR    9997 non-null   object
 1   SERVICIO    9997 non-null   object
 2   INDICATIVO  9997 non-null   float64
 3   nodefinido  9997 non-null   float64
 4   MODALIDAD   9997 non-null   object
 5   LOCALIDAD   9997 non-null   object
dtypes: float64(2), object(4)
memory usage: 468.7+ KB

In [139]:
#Penetración nacional del Internet fijo-Series trimestrales de la penetración del Internet fijo en las métricas por cada 100 habitantes y por cada 100 hogares
data1 = pd.read_csv('http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/PENET-NACIO-DEL-INTER-FIJO/data.csv/?auth_key=uYbP4nvCnPx2OUyEFL6VR4TDeLb5PcHOhVDCaOmm', engine='python', decimal=",")

In [140]:
#Penetración del Internet fijo por provincia (accesos por cada 100 hogares) Penetración del servicio de Internet fijo (métrica: hogares)
data2 = pd.read_csv('http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/PENET-DEL-INTER-FIJO-51614/data.csv/?auth_key=uYbP4nvCnPx2OUyEFL6VR4TDeLb5PcHOhVDCaOmm' , engine='python', decimal=",")

In [156]:
##conectividad del servicio de Internet
data3 = pd.read_csv('http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/CONEC-AL-SERVI-DE-INTER/data.csv/?auth_key=uYbP4nvCnPx2OUyEFL6VR4TDeLb5PcHOhVDCaOmm', engine='python', decimal=",")

In [145]:
data1
#se revisa la data1 y verificamos que no hay nulos, los campos numericos estan correctos , el unico tipo object es el string
#Se renombra la columna Accesos por cada 100 hogares por : Accesos100hogares y la columna Accesos por cada 100 hab por : Accesos100hab
data1.rename(columns={'Accesos por cada 100 hogares': 'Accesos100hogares'}, inplace=True)
data1.rename(columns={'Accesos por cada 100 hab': 'Accesos100hab'}, inplace=True)
data1.rename(columns={'Año': 'Anio'}, inplace=True)
data1

    Anio  Trimestre  Accesos100hogares  Accesos100hab        Periodo
0   2022          2              75.97          23.72   Abr-Jun 2022
1   2022          1              73.88          23.05   Ene-Mar 2022
2   2021          4              73.18          22.81   Oct-Dic 2021
3   2021          3              70.58          21.98  Jul-Sept 2021
4   2021          2              69.24          21.55   Abr-Jun 2021
5   2021          1              67.95          21.13   Ene-Mar 2021
6   2020          4              67.62          21.01   Oct-Dic 2020
7   2020          3              66.31          20.59  Jul-Sept 2020
8   2020          2              64.21          19.92   Abr-Jun 2020
9   2020          1              62.86          19.48   Ene-Mar 2020
10  2019          4              62.92          19.49   Oct-Dic 2019
11  2019          3              65.79          20.36  Jul-Sept 2019
12  2019          2              64.53          19.96   Abr-Jun 2019
13  2019          1              62.48          19.31   Ene-Mar 2019
14  2018          4              61.42          18.97   Oct-Dic 2018
15  2018          3              60.69          18.73  Jul-Sept 2018
16  2018          2              59.16          18.24   Abr-Jun 2018
17  2018          1              58.82          18.12   Ene-Mar 2018
18  2017          4              57.78          17.79   Oct-Dic 2017
19  2017          3              56.90          17.51  Jul-Sept 2017
20  2017          2              54.90          16.88   Abr-Jun 2017
21  2017          1              54.16          16.64   Ene-Mar 2017
22  2016          4              53.94          16.56   Oct-Dic 2016
23  2016          3              53.73          16.50  Jul-Sept 2016
24  2016          2              53.34          16.37   Abr-Jun 2016
25  2016          1              51.85          15.90   Ene-Mar 2016
26  2015          4              52.63          16.12   Oct-Dic 2015
27  2015          3              52.46          16.05  Jul-Sept 2015
28  2015          2              51.76          15.82   Abr-Jun 2015
29  2015          1              51.36          15.68   Ene-Mar 2015
30  2014          4              50.50          15.39   Oct-Dic 2014
31  2014          3              50.67          15.43  Jul-Sept 2014
32  2014          2              49.86          15.16   Abr-Jun 2014
33  2014          1              49.55          15.05   Ene-Mar 2014

In [146]:
data2
#se revisa la data y se normaliza a minusculas la provincia, ademas se renombra la columna accessos por cada 100hogares por : Accesos100hogares
data2['Provincia']= data2['Provincia'].str.upper()
data2.rename(columns={'Año': 'Anio'}, inplace=True)
data2.rename(columns={'Accesos por cada 100 hogares': 'Accesos100hogares'}, inplace=True)
data2

     Anio  Trimestre            Provincia  Accesos100hogares
0    2022          2         BUENOS AIRES              77.58
1    2022          2      CAPITAL FEDERAL             121.31
2    2022          2            CATAMARCA              62.40
3    2022          2                CHACO              43.79
4    2022          2               CHUBUT              83.19
..    ...        ...                  ...                ...
811  2014          1           SANTA CRUZ              28.94
812  2014          1             SANTA FE              47.85
813  2014          1  SANTIAGO DEL ESTERO              16.31
814  2014          1     TIERRA DEL FUEGO              63.97
815  2014          1              TUCUMÁN              33.42

[816 rows x 4 columns]

In [157]:
data3
#se revisa la data y se normaliza a minusculas la provincia
data3['Provincia']= data3['Provincia'].str.upper()
data3['Partido']= data3['Partido'].str.upper()
data3['Localidad']= data3['Localidad'].str.upper()
data3=data3.fillna('No dato')
data3['link'] = data3['link'].replace({"--": 0})
data3 = data3.replace({"--": 'Nodato'})
data3

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,25 DE MAYO,25 DE MAYO,23408,SI,SI,Nodato,SI,SI,SI,SI,SI,SI,6854100.0,-35.433939,-60.173121
1,BUENOS AIRES,25 DE MAYO,AGUSTÍN MOSCONI,280,Nodato,Nodato,Nodato,Nodato,Nodato,Nodato,SI,Nodato,Nodato,6854010.0,-35.739217,-60.559063
2,BUENOS AIRES,25 DE MAYO,DEL VALLE,899,SI,Nodato,Nodato,Nodato,SI,Nodato,Nodato,SI,SI,6854020.0,-35.897345,-60.731609
3,BUENOS AIRES,25 DE MAYO,ERNESTINA,145,SI,Nodato,Nodato,Nodato,Nodato,Nodato,Nodato,Nodato,Nodato,6854030.0,-35.270234,-59.557503
4,BUENOS AIRES,25 DE MAYO,GOBERNADOR UGARTE,547,Nodato,Nodato,Nodato,Nodato,Nodato,SI,Nodato,Nodato,Nodato,6854040.0,-35.164397,-60.081358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4307,JUJUY,EL CARMEN,LOS LAPACHOS (EST. MAQUINISTA VERÓN),864,Nodato,Nodato,Nodato,Nodato,Nodato,SI,Nodato,SI,SI,38014050.0,-24.473571,-65.074393
4308,JUJUY,EL CARMEN,LOTEO SAN VICENTE,211,Nodato,Nodato,Nodato,Nodato,Nodato,Nodato,Nodato,Nodato,SI,38014055.0,-24.429325,-65.184397
4309,JUJUY,EL CARMEN,MANANTIALES,326,Nodato,Nodato,Nodato,Nodato,SI,Nodato,Nodato,SI,SI,38014060.0,-24.505687,-64.975926
4310,JUJUY,EL CARMEN,MONTERRICO,11591,Nodato,SI,Nodato,Nodato,SI,SI,SI,SI,SI,38014070.0,-24.438520,-65.162225
4311,JUJUY,EL CARMEN,PAMPA BLANCA,2720,SI,SI,Nodato,Nodato,SI,SI,SI,SI,SI,38014080.0,-24.532994,-65.074414

In [66]:
data1

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,2,75.97,23.72,Abr-Jun 2022
1,2022,1,73.88,23.05,Ene-Mar 2022
2,2021,4,73.18,22.81,Oct-Dic 2021
3,2021,3,70.58,21.98,Jul-Sept 2021
4,2021,2,69.24,21.55,Abr-Jun 2021
5,2021,1,67.95,21.13,Ene-Mar 2021
6,2020,4,67.62,21.01,Oct-Dic 2020
7,2020,3,66.31,20.59,Jul-Sept 2020
8,2020,2,64.21,19.92,Abr-Jun 2020
9,2020,1,62.86,19.48,Ene-Mar 2020
10,2019,4,62.92,19.49,Oct-Dic 2019
11,2019,3,65.79,20.36,Jul-Sept 2019
12,2019,2,64.53,19.96,Abr-Jun 2019
13,2019,1,62.48,19.31,Ene-Mar 2019
14,2018,4,61.42,18.97,Oct-Dic 2018
15,2018,3,60.69,18.73,Jul-Sept 2018
16,2018,2,59.16,18.24,Abr-Jun 2018
17,2018,1,58.82,18.12,Ene-Mar 2018
18,2017,4,57.78,17.79,Oct-Dic 2017
19,2017,3,56.90,17.51,Jul-Sept 2017
20,2017,2,54.90,16.88,Abr-Jun 2017
21,2017,1,54.16,16.64,Ene-Mar 2017
22,2016,4,53.94,16.56,Oct-Dic 2016
23,2016,3,53.73,16.50,Jul-Sept 2016
24,2016,2,53.34,16.37,Abr-Jun 2016
25,2016,1,51.85,15.90,Ene-Mar 2016
26,2015,4,52.63,16.12,Oct-Dic 2015
27,2015,3,52.46,16.05,Jul-Sept 2015
28,2015,2,51.76,15.82,Abr-Jun 2015
29,2015,1,51.36,15.68,Ene-Mar 2015
30,2014,4,50.50,15.39,Oct-Dic 2014
31,2014,3,50.67,15.43,Jul-Sept 2014
32,2014,2,49.86,15.16,Abr-Jun 2014
33,2014,1,49.55,15.05,Ene-Mar 2014

In [158]:
#revision final
#data1.info()
#data2.info()
data3.info()
data3

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4312 entries, 0 to 4311
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      4312 non-null   object
 1   Partido        4312 non-null   object
 2   Localidad      4312 non-null   object
 3   Poblacion      4312 non-null   int64
 4   ADSL           4312 non-null   object
 5   CABLEMODEM     4312 non-null   object
 6   DIALUP         4312 non-null   object
 7   FIBRAOPTICA    4312 non-null   object
 8   SATELITAL      4312 non-null   object
 9   WIRELESS       4312 non-null   object
 10  TELEFONIAFIJA  4312 non-null   object
 11  3G             4312 non-null   object
 12  4G             4312 non-null   object
 13  link           4312 non-null   object
 14  Latitud        4312 non-null   float64
 15  Longitud       4312 non-null   float64
dtypes: float64(2), int64(1), object(13)
memory usage: 539.1+ KB

,Provincia,Partido,Localidad,Poblacion,ADSL,CABLEMODEM,DIALUP,FIBRAOPTICA,SATELITAL,WIRELESS,TELEFONIAFIJA,3G,4G,link,Latitud,Longitud
0,BUENOS AIRES,25 DE MAYO,25 DE MAYO,23408,SI,SI,Nodato,SI,SI,SI,SI,SI,SI,6854100.0,-35.433939,-60.173121
1,BUENOS AIRES,25 DE MAYO,AGUSTÍN MOSCONI,280,Nodato,Nodato,Nodato,Nodato,Nodato,Nodato,SI,Nodato,Nodato,6854010.0,-35.739217,-60.559063
2,BUENOS AIRES,25 DE MAYO,DEL VALLE,899,SI,Nodato,Nodato,Nodato,SI,Nodato,Nodato,SI,SI,6854020.0,-35.897345,-60.731609
3,BUENOS AIRES,25 DE MAYO,ERNESTINA,145,SI,Nodato,Nodato,Nodato,Nodato,Nodato,Nodato,Nodato,Nodato,6854030.0,-35.270234,-59.557503
4,BUENOS AIRES,25 DE MAYO,GOBERNADOR UGARTE,547,Nodato,Nodato,Nodato,Nodato,Nodato,SI,Nodato,Nodato,Nodato,6854040.0,-35.164397,-60.081358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4307,JUJUY,EL CARMEN,LOS LAPACHOS (EST. MAQUINISTA VERÓN),864,Nodato,Nodato,Nodato,Nodato,Nodato,SI,Nodato,SI,SI,38014050.0,-24.473571,-65.074393
4308,JUJUY,EL CARMEN,LOTEO SAN VICENTE,211,Nodato,Nodato,Nodato,Nodato,Nodato,Nodato,Nodato,Nodato,SI,38014055.0,-24.429325,-65.184397
4309,JUJUY,EL CARMEN,MANANTIALES,326,Nodato,Nodato,Nodato,Nodato,SI,Nodato,Nodato,SI,SI,38014060.0,-24.505687,-64.975926
4310,JUJUY,EL CARMEN,MONTERRICO,11591,Nodato,SI,Nodato,Nodato,SI,SI,SI,SI,SI,38014070.0,-24.438520,-65.162225
4311,JUJUY,EL CARMEN,PAMPA BLANCA,2720,SI,SI,Nodato,Nodato,SI,SI,SI,SI,SI,38014080.0,-24.532994,-65.074414

In [173]:
##acceso a Internet por tecnologia y provincia
data4 = pd.read_csv('http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-POR/data.csv/?auth_key=uYbP4nvCnPx2OUyEFL6VR4TDeLb5PcHOhVDCaOmm', engine='python', decimal="," )

In [174]:
data4.info()
data4

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817 entries, 0 to 816
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           817 non-null    object
 1   Trimestre     817 non-null    object
 2   Provincia     816 non-null    object
 3   ADSL          816 non-null    object
 4   Cablemodem    816 non-null    object
 5   Fibra óptica  816 non-null    object
 6   Wireless      816 non-null    float64
 7   Otros         816 non-null    float64
 8   Total         816 non-null    object
dtypes: float64(2), object(7)
memory usage: 57.6+ KB

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,2,Buenos Aires,350.652,2.719.613,1.399.043,126.847,71.028,4.667.183
1,2022,2,Capital Federal,145.491,1.232.226,121.506,5.757,31.791,1.536.771
2,2022,2,Catamarca,11.928,9.430,42.087,1.329,2.234,67.008
3,2022,2,Chaco,29.552,61.284,42.194,8.178,2.356,143.564
4,2022,2,Chubut,45.377,69.242,9.574,29.784,8.828,162.805
...,...,...,...,...,...,...,...,...,...
812,2014,1,Santa Fe,322.662,174.296,3.059,5.951,644.000,506.612
813,2014,1,Santiago Del Estero,32.567,3.598,19,915.000,34.000,37.133
814,2014,1,Tierra Del Fuego,21.618,2.837,648,1.000,2.934,28.038
815,2014,1,Tucumán,129.717,83,121,13.000,98.000,130.032
816,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [175]:
##acceso a Internet por tecnologia y provincia- se quitan los puntos,

data4['ADSL'] = data4['ADSL'].astype(str).apply(lambda x: x.replace('.',''))
data4['Cablemodem'] = data4['Cablemodem'].astype(str).apply(lambda x: x.replace('.',''))
data4['Fibra óptica'] = data4['Fibra óptica'].astype(str).apply(lambda x: x.replace('.',''))
data4['Wireless'] = data4['Wireless'].astype(str).apply(lambda x: x.replace('.',''))
data4['Otros'] = data4['Otros'].astype(str).apply(lambda x: x.replace('.',''))
data4['Total'] = data4['Total'].astype(str).apply(lambda x: x.replace('.',''))
data4['Provincia']= data4['Provincia'].str.upper()
data4 = data4.dropna(subset=['Provincia'])
data4.rename(columns={'Año': 'Anio'}, inplace=True)
data4.rename(columns={'Fibra óptica': 'FibraOptica'}, inplace=True)
data4
## la data se puede revisar por provincia y a nivel global, es importante enmarcar que la tecnologia ADSL debe ser cambiada por que el ancho de banda no es adecuado para los requerimientos de IA.

C:\Users\G Medina\AppData\Local\Temp\ipykernel_25164\2620851255.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4.rename(columns={'Año': 'Anio'}, inplace=True)
C:\Users\G Medina\AppData\Local\Temp\ipykernel_25164\2620851255.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4.rename(columns={'Fibra óptica': 'FibraOptica'}, inplace=True)

,Anio,Trimestre,Provincia,ADSL,Cablemodem,FibraOptica,Wireless,Otros,Total
0,2022,2,BUENOS AIRES,350652,2719613,1399043,126847,71028,4667183
1,2022,2,CAPITAL FEDERAL,145491,1232226,121506,5757,31791,1536771
2,2022,2,CATAMARCA,11928,9430,42087,1329,2234,67008
3,2022,2,CHACO,29552,61284,42194,8178,2356,143564
4,2022,2,CHUBUT,45377,69242,9574,29784,8828,162805
...,...,...,...,...,...,...,...,...,...
811,2014,1,SANTA CRUZ,18927,100,381,4092,3264,26764
812,2014,1,SANTA FE,322662,174296,3059,5951,6440,506612
813,2014,1,SANTIAGO DEL ESTERO,32567,3598,19,9150,340,37133
814,2014,1,TIERRA DEL FUEGO,21618,2837,648,10,2934,28038
815,2014,1,TUCUMÁN,129717,83,121,130,980,130032

In [7]:
#descartado-data6 = pd.read_csv('http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/ACCES-A-INTER-FIJO-62463/data.csv/?auth_key=uYbP4nvCnPx2OUyEFL6VR4TDeLb5PcHOhVDCaOmm')

In [223]:
data6 = pd.read_csv('http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/BANDA-ANCHA-Y-BANDA-ANGOS/data.csv/?auth_key=uYbP4nvCnPx2OUyEFL6VR4TDeLb5PcHOhVDCaOmm')

In [224]:
data6

      Año  Trimestre            Provincia Banda ancha fija Dial up      Total
0    2022          2         Buenos Aires        4.660.984   6.199  4.667.183
1    2022          2      Capital Federal        1.534.626   2.145  1.536.771
2    2022          2            Catamarca           67.007       1     67.008
3    2022          2                Chaco          143.559       5    143.564
4    2022          2               Chubut          161.901     904    162.805
..    ...        ...                  ...              ...     ...        ...
811  2014          1           Santa Cruz           26.304     460     26.764
812  2014          1             Santa Fe          506.000     612    506.612
813  2014          1  Santiago Del Estero           37.124       9     37.133
814  2014          1     Tierra Del Fuego           27.272     766     28.038
815  2014          1              Tucumán          129.944      88    130.032

[816 rows x 6 columns]

In [225]:
data6['Banda ancha fija'] = data6['Banda ancha fija'].astype(str).apply(lambda x: x.replace('.',''))
data6['Dial up'] = data6['Dial up'].astype(str).apply(lambda x: x.replace('.','0'))
data6['Total'] = data6['Total'].astype(str).apply(lambda x: x.replace('.',''))
data6['Dial up'] = data6['Dial up'].astype(str).apply(lambda x: x.replace('- 0','0'))
data6['Dial up'] = data6['Dial up'].astype(str).apply(lambda x: x.replace('nan','0'))

data6.rename(columns={'Banda ancha fija': 'BandaAnchaFija'}, inplace=True)
data6.rename(columns={'Dial up': 'Dialup'}, inplace=True)
data6.rename(columns={'Año': 'Anio'}, inplace=True)

data6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Anio            816 non-null    int64
 1   Trimestre       816 non-null    int64
 2   Provincia       816 non-null    object
 3   BandaAnchaFija  816 non-null    object
 4   Dialup          816 non-null    object
 5   Total           816 non-null    object
dtypes: int64(2), object(4)
memory usage: 38.4+ KB

In [80]:
#Penetración del Internet fijo por provincia (accesos por cada 100 habitantes)Penetración del servicio de Internet fijo (métrica: población)
#descartado por ser un resumen de los primeros datasets-data5 = pd.read_csv('http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/PENET-DEL-INTER-FIJO-POR/data.csv/?auth_key=uYbP4nvCnPx2OUyEFL6VR4TDeLb5PcHOhVDCaOmm')

In [184]:
data5 = pd.read_csv('http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/INGRE-POR-LA-OPERA-DEL/data.csv/?auth_key=uYbP4nvCnPx2OUyEFL6VR4TDeLb5PcHOhVDCaOmm')

In [185]:
data5['Ingresos (miles de pesos)'] = data5['Ingresos (miles de pesos)'].astype(str).apply(lambda x: x.replace('.',''))
data5.info()
data5.rename(columns={'Ingresos (miles de pesos)': 'IngresosMilesPesos'}, inplace=True)
data5.rename(columns={'Año': 'Anio'}, inplace=True)

data5

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        34 non-null     int64
 1   Trimestre                  34 non-null     int64
 2   Ingresos (miles de pesos)  34 non-null     object
 3   Periodo                    34 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

    Anio  Trimestre IngresosMilesPesos        Periodo
0   2022          2           60942843   Abr-Jun 2022
1   2022          1           56195811   Ene-Mar 2022
2   2021          4           45467887   Oct-Dic 2021
3   2021          3           42999944  Jul-Sept 2021
4   2021          2           38239667   Abr-Jun 2021
5   2021          1           36676371   Ene-Mar 2021
6   2020          4           33539703   Oct-Dic 2020
7   2020          3           31997445  Jul-Sept 2020
8   2020          2           32102476   Abr-Jun 2020
9   2020          1           29946216   Ene-Mar 2020
10  2019          4           24169251   Oct-Dic 2019
11  2019          3           21652748  Jul-Sept 2019
12  2019          2           20743118   Abr-Jun 2019
13  2019          1           20207414   Ene-Mar 2019
14  2018          4           16637687   Oct-Dic 2018
15  2018          3           15410981  Jul-Sept 2018
16  2018          2           14319467   Abr-Jun 2018
17  2018          1           13171459   Ene-Mar 2018
18  2017          4           11226127   Oct-Dic 2017
19  2017          3           10065998  Jul-Sept 2017
20  2017          2            9678647   Abr-Jun 2017
21  2017          1            8701201   Ene-Mar 2017
22  2016          4            7483980   Oct-Dic 2016
23  2016          3            6912442  Jul-Sept 2016
24  2016          2            6534241   Abr-Jun 2016
25  2016          1            5936845   Ene-Mar 2016
26  2015          4            5376899   Oct-Dic 2015
27  2015          3            5153739  Jul-Sept 2015
28  2015          2            4701791   Abr-Jun 2015
29  2015          1            4876385   Ene-Mar 2015
30  2014          4            3950441   Oct-Dic 2014
31  2014          3            3478638  Jul-Sept 2014
32  2014          2            3270816   Abr-Jun 2014
33  2014          1            2984054   Ene-Mar 2014

In [190]:
#para todas las provincias con menos de 500 habitantes se considerara lineas moviles para acceder al internet
datamovil=pd.read_csv('http://api.datosabiertos.enacom.gob.ar/api/v2/datastreams/RADIO-4G-DESPL-POR-TRIME/data.csv/?auth_key=EU5EeC6NhLLJRozGF6tqFrcbzFxCFF12VTpYV1VC')

In [191]:
datamovil['Provincia']= datamovil['Provincia'].str.upper()
datamovil.rename(columns={'Año': 'Anio'}, inplace=True)
datamovil.rename(columns={'Radiobases 4G': 'Radiobases4G'}, inplace=True)
datamovil.rename(columns={'Acumulado radiobases 4G': 'Acumuladoradiobases4G'}, inplace=True)
datamovil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624 entries, 0 to 623
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Anio                   624 non-null    int64
 1   Trimestre              624 non-null    int64
 2   Provincia              624 non-null    object
 3   Radiobases4G           624 non-null    int64
 4   Acumuladoradiobases4G  624 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 24.5+ KB

In [133]:
from sqlalchemy import create_engine    
connection_string = "mysql+pymysql://%s:%s@%s:%s/%s" % ('root', 'Andrea25%', 'Localhost', 3306, 'ENACOM')
engine = create_engine(connection_string)

In [134]:
Operador.to_sql('Operador',con=engine,index=False,if_exists='append')

C:\Users\G Medina\AppData\Local\Temp\ipykernel_25164\651589194.py:1: UserWarning: The provided table name 'Operador' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  Operador.to_sql('Operador',con=engine,index=False,if_exists='append')

9997

In [148]:
data1.to_sql('PenetracionPais',con=engine,index=False,if_exists='append')

C:\Users\G Medina\AppData\Local\Temp\ipykernel_25164\2008865979.py:1: UserWarning: The provided table name 'PenetracionPais' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  data1.to_sql('PenetracionPais',con=engine,index=False,if_exists='append')

34

In [151]:
data2.to_sql('PenetracionHogares',con=engine,index=False,if_exists='append')

C:\Users\G Medina\AppData\Local\Temp\ipykernel_25164\1901183879.py:1: UserWarning: The provided table name 'PenetracionHogares' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  data2.to_sql('PenetracionHogares',con=engine,index=False,if_exists='append')

816

In [159]:
data3.to_sql('Tecnoprovincia',con=engine,index=False,if_exists='append')

C:\Users\G Medina\AppData\Local\Temp\ipykernel_25164\706558064.py:1: UserWarning: The provided table name 'Tecnoprovincia' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  data3.to_sql('Tecnoprovincia',con=engine,index=False,if_exists='append')

4312

In [178]:
data4.to_sql('TecnoprovinciaSum',con=engine,index=False,if_exists='append')

C:\Users\G Medina\AppData\Local\Temp\ipykernel_25164\3442264989.py:1: UserWarning: The provided table name 'TecnoprovinciaSum' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  data4.to_sql('TecnoprovinciaSum',con=engine,index=False,if_exists='append')

816

In [186]:
data5.to_sql('Ingresos',con=engine,index=False,if_exists='append')

C:\Users\G Medina\AppData\Local\Temp\ipykernel_25164\2904021402.py:1: UserWarning: The provided table name 'Ingresos' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  data5.to_sql('Ingresos',con=engine,index=False,if_exists='append')

34

In [226]:
data6.to_sql('BandaAncha',con=engine,index=False,if_exists='append')

C:\Users\G Medina\AppData\Local\Temp\ipykernel_25164\3296116945.py:1: UserWarning: The provided table name 'BandaAncha' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  data6.to_sql('BandaAncha',con=engine,index=False,if_exists='append')

816

In [192]:
datamovil.to_sql('Movil',con=engine,index=False,if_exists='append')

C:\Users\G Medina\AppData\Local\Temp\ipykernel_25164\728689647.py:1: UserWarning: The provided table name 'Movil' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  datamovil.to_sql('Movil',con=engine,index=False,if_exists='append')

624